<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>CAT Implementation Readiness Package Report</title>
    <style>
    #content {
        text-align: left;
    }
    h1,h2 {
        text-align: center;
    }
    table {
        margin: 0;
        padding: 0;
        border: 1px solid #000000;
        border-spacing: 0;
        border-collapse: collapse;
    }

    th {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #000000;
    }
    
    td {
        vertical-align: middle;

        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #000000;
        text-align: left;
        padding: 11px;
        font-size: 10px;
        font-weight: normal;
        color: #000000;
    }
    .section-header {
        padding-top: 20px;
        font-size: 16px;
        font-weight: bold;
    }
    .subsection-header {
        padding: 10px;
        font-size: 14px;
        font-style: italic;
    }
    </style>
</head>
<body>
    <div id="content">
        <h1>CAT Implementation Readiness Package Report</h1>
        <h2 th:text="|${catResults.subject} grade ${catResults.grade}|"></h2>
        <div id="exposure-analysis">
            <div class="section-header">Exposure Rates Analysis</div>
	        <p>
	          	For all available items in the pool, the number of times administered divided by the number of tests simulated for students in the particular grade and subject. 
	          	For example, if item #100 is used 500 times among 10,000 simulated tests, exposure rate for item #100 is 500/10,000 = 0.05.
	        </p>
            <table id="exposure-summary">
                <tr>
                    <td>Total items</td>
                    <td>Unused items</td>
                    <td>Percent unused</td>
                    <td>Used items</td>
                    <td>Percent used</td>
                    
                </tr>
                <tr>
                    <td th:text="${catResults.itemPoolCount}"></td>
                    <td th:text="${catResults.unusedItems}"></td>
                    <td th:text="${#numbers.formatDecimal(catResults.percentUnused, 0 , 2)}"></td>
                    <td th:text="${catResults.unusedItems}"></td>
                    <td th:text="${#numbers.formatDecimal(catResults.percentUsed, 0 , 2)}"></td>
                </tr>
            </table>
            
            <div id="exposure-bins-analysis">
                 <div class="section-header">Distribution of exposure rates</div>
                 <p th:text="|Bin size: ${catResults.binSize}"></p>
                 <table id="exposure-bins">
                    <tr>
                        <td>Bin</td>
                        <th:block th:each="bin,iter : ${catResults.bins}">
                            <td th:text="|${#numbers.formatDecimal(catResults.binSize * iter.index, 0, 2)} to ${#numbers.formatDecimal(catResults.binSize * iter.count, 0, 2)}|">
                        </th:block>
                    </tr>
                    <tr>
                        <td>Count</td>
                        <th:block th:each="bin,iter : ${catResults.bins}">
                            <td th:text="${bin}"></td>
                        </th:block>
                    </tr>
                 </table>
            </div>
        </div>
        <div id="score-summary">
            <div class="section-header">Score Summary</div>
            <p>
            	Score estimates are compared against the true/generating scores. Summaries are available as Average Bias and Root Mean Squared Error (RMSE)
            	These summaries are also computed against the scores partitioned into deciles.
            </p>
            <table>
                <tr>
                    <td>Average Bias</td>
                    <td th:text="${#numbers.formatDecimal(catResults.averageBias, 0, 3)}"></td>
                </tr>
                <tr>
                    <td >Root Mean Squared Error (RMSE)</td>
                    <td th:text="${#numbers.formatDecimal(catResults.rmse, 0, 3)}"></td>
                </tr>
            </table>            
            <div id="score-summary-deciles">
                    <div class="subsection-header">Average Bias by Decile</div>
                    <table>
                    	<tr>
                    		<td><b>Decile</b></td>
                    		<th:block th:each="avgBias, iter : ${catResults.decileAverageBias}">
                        		<td th:text="${iter.index}"></td>
                    		</th:block>
		                </tr>
		                <tr>
                    		<td><b>Mean Bias</b></td>
		                    <th:block th:each="avgBias, iter : ${catResults.decileAverageBias}">
		                        <td th:text="${#numbers.formatDecimal(avgBias, 0, 3)}"></td>
		                    </th:block>                    		
                    	</tr>
                    </table>
                    <div class="subsection-header">RMSE by Decile</div>
                    <table>
                    	<tr>
                    		<td><b>Decile</b></td>
                    		<th:block th:each="rmse, iter : ${catResults.decileRmse}">
                        		<td th:text="${iter.index}"></td>
                    		</th:block>         
		                </tr>
		                <tr>      		
                    		<td><b>RMSE</b></td>
		                    <th:block th:each="rmse, iter : ${catResults.decileRmse}">
		                        <td th:text="${#numbers.formatDecimal(rmse, 0, 3)}"></td>
		                    </th:block>                    		
                    	</tr>
                    </table>
                </div>
        </div>
        <div id="precision-scores">
            <div class="section-header">Precision Summary</div>
            <p>
                Precision is scored by the overall mean standard error of measurement and by claim.
            </p>
            <table id="precision">
                <tr>
                <td><b>Claim</b></td>
                <td>Overall</td>
                <td>1</td>
                <td th:if="${catResults.subject.toLowerCase()} == 'ela'">2</td>
                <td th:if="${catResults.subject.toLowerCase()} == 'math'">2-4</td>
                <td>3</td>
                <td th:if="${catResults.subject.toLowerCase()} == 'ela'">4</td>
                </tr>
                <tr>
                    <td><b>Mean Standard Error of Measurement</b></td>
                    <td th:text="${#numbers.formatDecimal(catResults.overallSEM, 0, 3)}"></td>
                    <td th:text="${#numbers.formatDecimal(catResults.claim1SEM, 0, 3)}"></td>
                    <td th:if="${catResults.subject.toLowerCase()} == 'ela'" th:text="${#numbers.formatDecimal(catResults.claim2SEM, 0, 3)}"></td>
                    <td th:if="${catResults.subject.toLowerCase()} == 'math'" th:text="${#numbers.formatDecimal(catResults.claim2_4SEM, 0, 3)}"></td>
                    <td th:text="${#numbers.formatDecimal(catResults.claim3SEM, 0, 3)}"></td>
                    <td th:if="${catResults.subject.toLowerCase()} == 'ela'" th:text="${#numbers.formatDecimal(catResults.claim4SEM, 0, 3)}"></td>
                </tr>
            </table>
        </div>
        
        <div id="score-levels">
        	<p>
        		<ul>
        			<li>
        				For every true score and estimated scale score, there are corresponding levels. 
        				For the overall score, students are assigned to one of four possible levels. 
        			</li>
        			<li>Cut scores by grade and subject can be found here (pp. 8-9): <a href="http://www.smarterapp.org/documents/TestScoringSpecs2014-2015.pdf">http://www.smarterapp.org/documents/TestScoringSpecs2014-2015.pdf</a></li>
        		</ul>
        	</p>
            <div class="section-header">Classification Levels</div>
            <p>
                For every true score and estimated scale score, there are corresponding levels.
                For the overall score, students are assigned to one of four possible levels.
                <i>Classification accuracy</i> is the number of correctly labeled students compared to the generating student levels divided by the total number of students.
                This is a sum of the diagonal along the table and dividing by the total number of students.
            </p>
            <table id="score-table">
                <thead>Score Levels</thead>
                <td></td><td colspan="4">True Level</td>
                <tr>
                    <td>Estimated Level</td>
                    <th:block th:each="val, iter : ${catResults.classAccMatrix}">
                        <td th:text="${iter.count}"></td>
                    </th:block>
                </tr>
                <th:block th:each="estLevel, iter : ${catResults.classAccMatrix}">
                    <tr>
                        <td th:text="${iter.count}"></td>
                        <th:block th:each="trueLevel : ${estLevel}">
                            <td th:text="${trueLevel}"></td>
                        </th:block>
                </th:block>
            </table>
            <p th:text="|Classification accuracy: ${#numbers.formatDecimal(catResults.classAccuracy, 0, 3)}|"></p>
        </div>
        
        <div id="blueprint-violations">
            	<div class="section-header">Blueprint Violations</div>
            	<p>
            		Blueprint violations are summarized for ELA from <a href="https://www.smarterbalanced.org/wp-content/uploads/2015/08/ELA_Blueprint.pdf">https://www.smarterbalanced.org/wp-content/uploads/2015/08/ELA_Blueprint.pdf</a> and for Math from 
            		<a href="https://www.smarterbalanced.org/wp-content/uploads/2015/08/Mathematics_Blueprint.pdf">https://www.smarterbalanced.org/wp-content/uploads/2015/08/Mathematics_Blueprint.pdf</a>
            		Summaries are given based on the number of tests that fall under, over or match the blueprint specification.
            	</p>
                <div class="subsection-header">Violation Counts</div>
                <table>
                    <tr>
                        <td>Specification</td>
                        <td>Min</td>
                        <td>Max</td>
                        <td>Under</td>
                        <td>Match</td>
                        <td>Over</td>
                    </tr>

                    <th:block th:each="blueprint : ${catResults.blueprintStatements}">
                        <tr>
                            <td th:text="${blueprint.specification}"></td>
                            <td th:text="${blueprint.min}"></td>
                            <td th:text="${blueprint.maxStr}"></td>
                            <td th:text="${blueprint.violationCount.under}"></td>
                            <td th:text="${blueprint.violationCount.match}"></td>
                            <td th:text="${blueprint.violationCount.over}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
    </div>
</body>
</html>