<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>CAT Implementation Readiness Package Report</title>
    <style>
    #content {
        text-align: left;
    }
    h1 {
        text-align: center;
    }
    </style>
</head>
<body>
    <div id="content">
        <h1>CAT Implementation Readiness Package Report</h1>
        <div id="exposure-analysis">
            Exposure Rates Analysis
        <p th:text="|Total items: ${catResults.itemPoolCount}|"></p>
        <p th:text="|Unused items: ${catResults.unusedItems}|"></p>        
        <p th:text="|Percent unused: ${#numbers.formatDecimal(catResults.percentUnused, 0 , 2)}|"></p>
        </div>
    </div>
</body>
</html>