<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>CAT Implementation Readiness Package Report</title>
    <style>
    #content {
        text-align: left;
    }
    h1 {
        text-align: center;
    }
    </style>
</head>
<body>
    <div id="content">
        <h1>CAT Implementation Readiness Package Report</h1>
        <div id="exposure-analysis">
            <b>Exposure Rates Analysis</b>
            <p th:text="|Total items: ${catResults.itemPoolCount}|"></p>
            <p th:text="|Unused items: ${catResults.unusedItems}|"></p>        
            <p th:text="|Percent unused: ${#numbers.formatDecimal(catResults.percentUnused, 0 , 2)}|"></p>
            
            <div id="used-items">
                <p th:text="|Used items: ${catResults.unusedItems}|"></p>
                <p th:text="|Percent used: ${#numbers.formatDecimal(catResults.percentUsed, 0 , 2)}|"></p>
            </div>
            
            <div id="exposure-bins">
                 <b>Distribution of exposure rates</b>
                 <p th:text="|Bin size: ${catResults.binSize}"></p>
                 <th:block th:each="bin,iter : ${catResults.bins}">
                    <p th:if="${bin > 0}"
                       th:text="|Bin ${#numbers.formatDecimal(catResults.binSize * iter.index, 0, 2)} < X <= ${#numbers.formatDecimal(catResults.binSize * iter.count, 0, 2)} has a count of: ${bin}|">
                    </p>
                 </th:block>
            </div>
        </div>
        <div id="score-summary">
            <b>Score Summary</b>
            <p th:text="|Average Bias: ${#numbers.formatDecimal(catResults.averageBias, 0, 3)}|"></p>
            <p th:text="|Root Mean Squared Error (RMSE): ${#numbers.formatDecimal(catResults.rmse, 0, 3)}|"></p>
            <div id="score-summary-deciles">
                    <b>Average Bias by Decile</b>
                    <th:block th:each="avgBias, iter : ${catResults.decileAverageBias}">
                        <p th:text="|Decile: ${iter.index} Average Bias: ${#numbers.formatDecimal(avgBias, 0, 3)}|"></p>
                    </th:block>
                    
                    <b>RMSE by Decile</b>
                    <th:block th:each="rmse, iter : ${catResults.decileRmse}">
                        <p th:text="|Decile: ${iter.index} RMSE: ${#numbers.formatDecimal(rmse, 0, 3)}|"></p>
                    </th:block>
                </div>
        </div>
    </div>
</body>
</html>