
<link rel="import" href="../../deps/polymer/polymer.html">
<link rel="import" href="../../deps/core-item/core-item.html">
<link rel="import" href="../../deps/ajax-form/ajax-form.html">
<link rel="import" href="../../deps/paper-spinner/paper-spinner.html">
<link rel="import" href="../../irp-response-scaffold.html">
<link rel="import" href="../../report-summary.html">

<polymer-element name="irp-scaffold" attributes="label responsiveWidth">
    <template>
        <style>
            paper-spinner.blue::shadow .circle {
                border-color: #4285f4;
            }

            .uploader {
                margin-left: 25px;
                margin-bottom: 5px;
            }
        </style>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <irp-response-scaffold label="Implementation Readiness Package" th:attr="version=${irpVersion}">

            <div home xmlns:th="http://www.thymeleaf.org">
                <ul>
                    <li>Step 1: <a href="irp-package.zip" title="IRP Package Download">Download the IRP package</a> and read the Implementation Readiness Package Usage Guide (PDF).</li>
                    <li>Step 2: Load data from the IRP package into your system.</li>
                    <li>Step 3: Upload the TDSReport XML files for each result to IRP. Only a single XML or ZIP containing multiple XML documents are accepted.</li>
                </ul>

                <div class="uploader">
                    <form id="fileUploader" is="ajax-form" method="post" enctype="multipart/form-data" action="/upload">
                        Name: <input id="clientName" type="text" name="name" required /><br />
                        <input type="file" class="btn btn-default" name="file" required />
                        <button id="fileUploadButton" class="btn btn-primary">Upload</button> <paper-spinner id="uploadSpinner" class="blue" inactive></paper-spinner>
                    </form>
                </div>

                <template if="{{responses}}">
                    <report-summary id="reportSummary" responses="{{responses}}"></report-summary>
                </template>
            </div>

            <core-item label="Home" tag="home"></core-item>

            <template id="tmplIndividualResponses" repeat="{{response in responses.individualResponses}}">
                <core-item label="{{response.fileName}}" tag="{{response.fileName}}" response="{{response | stringify}}"></core-item>
            </template>

        </irp-response-scaffold>
    </template>
    <script>
        Polymer('irp-scaffold', {
            ready: function() {
                var that = this;
                this.$.fileUploadButton.addEventListener('click', function(event) {
                    if (that.$.clientName.value != null && that.$.clientName.value != "") {
                        this.hidden = true;
                        that.$.uploadSpinner.active = true;
                    }
                });

                this.$.fileUploader.addEventListener('submitted', function(event) {
                    that.$.fileUploadButton.hidden = false;
                    that.$.uploadSpinner.active = false;

                    if (event.detail.status == 200) {
                        var analysisResponse = JSON.parse(event.detail.responseText);
                        that.responses = analysisResponse;
                    } else {
                        that.$.fileUploadErrorDialog.toggle();
                    }
                });
            },

            stringify: {
                toDOM: function(value)
                {
                    return JSON.stringify(value);
                },
                toModel: function(value)
                {
                    return JSON.stringify(value);
                }
            }
        });
    </script>
</polymer-element>