<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>TDS File Upload Report</title>
</head>
<body>
    <h1>Report</h1>
    <h2>Summary</h2>
    <p>Date: <span th:text="${#dates.createNow()}">Date Time</span></p>
    <p>
        Number of TDS Reports Uploaded: <span id="numTdsFilesUploaded" th:text="${numTdsFilesUploaded}">1</span>
    </p>
    <p>
        Number of TDS Reports Analyzed: <span id="numTdsFilesAnalyzed" th:text="${numTdsFilesAnalyzed}">1</span>
    </p>
    <div id="results">
        <div class="result" th:each="report : ${reports}">
            <h2>TDS Report File Name: <span th:text="${report.fileName}">File Name</span></h2>
            <p>Is XML Valid: <span class="validation" th:text="${report.validXMLfile}">Valid</span></p>
        </div>
    </div>
</body>
</html>