body {
    font-family: sans-serif;
}
#navheader {
    background-color: #163B81;
    color: #fff;
}
.content {
    padding: 20px;
}

paper-button[raised].colored {
    background: #4285f4;
    color: #fff;
}

paper-spinner.blue::shadow .circle {
    border-color: #4285f4;
}